In [2]:
import numpy as np
import pandas as pd
import os
import random
import copy
import matplotlib.pyplot as plt
import pandas

In [27]:
list1 = os.listdir('/home/harveer/Desktop/Learner/project data')
number_files = len(list)
print(number_files)

7

In [28]:
filenames=random.sample([x for x in list if x.endswith('.txt')],1)
print(filenames)

['KSS.txt']

In [38]:
data = []
for filename in filenames:
    df = pd.read_csv(os.path.join('/home/harveer/Desktop/Learner/project data',filename),sep=',')
    label, _ = filename.split('.')
    df['Label'] = label
#     df['Date'] = pd.to_datetime(df['Date'])

    data.append(df)
data[0].head()

         Date     Open      High       Low     Close  Adj Close   Volume Label
0  2000-02-01  35.6250  36.93750  35.18750  36.56250  27.657633  1241400   KSS
1  2000-02-02  36.5625  37.37500  36.12500  36.87500  27.894028  2038200   KSS
2  2000-02-03  37.7500  39.00000  37.62500  38.75000  29.312368  3186600   KSS
3  2000-02-04  39.1250  40.90625  39.03125  40.06250  30.305210  2559000   KSS
4  2000-02-07  40.0000  40.56250  39.65625  39.96875  30.234282  2269600   KSS

In [41]:
TechIndicator = copy.deepcopy(data)
print(TechIndicator[0].head())

         Date     Open      High       Low     Close  Adj Close   Volume Label
0  2000-02-01  35.6250  36.93750  35.18750  36.56250  27.657633  1241400   KSS
1  2000-02-02  36.5625  37.37500  36.12500  36.87500  27.894028  2038200   KSS
2  2000-02-03  37.7500  39.00000  37.62500  38.75000  29.312368  3186600   KSS
3  2000-02-04  39.1250  40.90625  39.03125  40.06250  30.305210  2559000   KSS
4  2000-02-07  40.0000  40.56250  39.65625  39.96875  30.234282  2269600   KSS

In [46]:
def rsi(values):
    up = values[values>0].mean()
    down = -1*values[values<0].mean()
    return 100 * up / (up + down)

TechIndicator[0]['Momentum_1D'] = (TechIndicator[0]['Close']-TechIndicator[0]['Close'].shift(1)).fillna(0)
TechIndicator[0]['RSI_14D'] = TechIndicator[0]['Momentum_1D'].rolling(center=False, window=14).apply(rsi).fillna(0)
print(TechIndicator[0].tail(5))

/home/harveer/Desktop/Learner/myenv/lib/python3.5/site-packages/ipykernel_launcher.py:7: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  import sys

            Date       Open       High        Low      Close  Adj Close  \
4776  2019-01-28  69.919998  69.989998  68.989998  69.430000  69.430000
4777  2019-01-29  69.180000  69.760002  67.989998  69.559998  69.559998
4778  2019-01-30  69.970001  70.000000  68.129997  69.099998  69.099998
4779  2019-01-31  68.870003  69.250000  67.959999  68.690002  68.690002
4780  2019-02-01  68.839996  68.839996  66.279999  66.690002  66.690002

       Volume Label  Momentum_1D    RSI_14D
4776  2304300   KSS    -1.269997  40.022653
4777  2251700   KSS     0.129998  36.926737
4778  2349300   KSS    -0.460000  40.127371
4779  3370300   KSS    -0.409996  52.445396
4780  3848700   KSS    -2.000000  47.691099

In [48]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [51]:
np.random.randn(3,10)

array([[-0.6146741 , -1.1693795 ,  0.51987519,  0.44980633, -0.4508201 ,
        -1.49347943,  0.53396765, -1.41137431, -0.00829303, -0.3280009 ],
       [-1.25000762,  1.4827518 ,  0.62854809,  0.03630292, -0.37570364,
         0.55363573, -0.11669567,  1.70663316, -0.21502438,  1.45851453],
       [ 0.7992706 ,  0.91064269,  0.07088557, -1.81313969,  0.35669198,
        -0.75738414, -2.03590225,  0.49507575, -0.36504123, -1.16399065]])

In [54]:
df = pd.DataFrame(np.arange(12).reshape(3,4),columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [56]:
x=df.drop(['B', 'C'], axis=1)
x

   A   D
0  0   3
1  4   7
2  8  11

In [57]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11